@model BANVESO.Models.DAILI

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DAILI</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sdt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sdt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDL }) |
    @Html.ActionLink("Back to List", "Agency")
</p>
